body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #393b44;
}

h1 {
    text-align: center;
    color: #bfdcae;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.loading {
    text-align: center;
    color: #fff;
    margin-top: 50px;
}

.error {
    text-align: center;
    color: rgb(253, 0, 0);
    margin-top: 50px;
}


/* Movie Search Input */

.search-form {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.search-form input,
.search-form button {
    font-size: 17px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 2px;
    border-radius: 5px;
    border: none;
    outline: none;
}
.search-form button {
    background: #16a596;
}


/* Movie Container */

.movie-container {
    width: 95%;
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Movie Items */

.movie-item {
    width: 14%;
    margin: 5px .5%;
    cursor: pointer;
    background-color: transparent;
    border-radius: 5px;
    overflow: hidden;
}

.movie-item h4 {
    margin: 0;
    padding: 10px;
    color: rgb(248, 248, 248);
    transition: all 0.2s linear;
}

.movie-item img {
    width: 100%;
    border-radius: 5px;
    transition: all 0.2s linear;
}

.movie-item:hover img,
.movie-item:hover h4
{
    color: #1aa6b7;
    transform: scale(1.05);
}


/* Movie Details */

.movie-details {
     width: 95%;
     margin: 0 auto;
}

.back-button {
    background: #a8dda8;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.movie-title {
    margin-bottom: 20px;
}

.movie-title h2, p {
    text-align: center;
    color: rgb(212, 212, 212);
    margin: 0;
}
  .poster-container {
    width: 95%;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
}
  
  .movie-poster-image {
    width: 55%
  }

  .movie-poster-image img {
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

  .movie-body {
    margin: 15px;
    width: 45%
  }

  .movie-body p {
      text-align: justify;
      margin: 10px;
      line-height: 20px;
  }

  .movie-body p span {
      font-weight: 700;
      color: #16a596;
    }
    


    /* Media Queries */
    @media only screen and (max-width: 768px) {
        .movie-item {
            width: 22%;
        }
        .poster-container {
            display: block;
        }
        .movie-poster-image {
            width: 95%
          }
        .movie-body {
            margin: 0;
            width: 95%
          }
          .back-button {
            margin-bottom: 20px;
         }
      }
    
    @media only screen and (max-width: 480px) {
        .movie-item {
            width: 44%;
        }
      }
    
      @media only screen and (max-width: 320px) {
        h1 {
            font-size: 20px;
        }
        .search-form form {
            margin-top: 20px;
        }
        .search-form input {
            font-size: 12px;
        }
        .search-form button {
            font-size: 12px;
            margin: 5px;
        }
        .movie-item {
            width: 90%;
        }
      }